{{ 'conect-section.css' | asset_url | stylesheet_tag }}

<section class="connect-section">
    <div class="connect-content">
      <div class="svg-one">
        <div class="svg-connect">
          <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M52.5693 90.0001C52.5682 90.0001 52.5672 90.0001 52.5661 90.0001L38.3554 89.9779C37.6358 89.9768 36.9828 89.562 36.677 88.9111L31.194 77.2837L25.4824 88.8392C25.4538 88.8974 25.4221 88.9545 25.3872 89.0106C25.0485 89.5514 24.4569 89.8805 23.8209 89.8837L9.79012 89.9557C9.78694 89.9557 9.78271 89.9557 9.78059 89.9557C9.08318 89.9557 8.44504 89.5652 8.12649 88.945L0.656034 74.3967C0.384054 73.8676 0.384055 73.2442 0.64651 72.7183L14.2392 45.1954L0.457077 17.3941C0.202029 16.8862 0.191447 16.2851 0.438028 15.7654L7.36558 1.11132C7.67354 0.461535 8.32757 0.0466864 9.0472 0.0466864C9.04932 0.0466864 9.05143 0.0466864 9.05355 0.0466864L23.6854 0.099601C24.3342 0.101718 24.9342 0.441428 25.2697 0.995971C25.2983 1.04359 25.3237 1.09122 25.3491 1.1399L30.6839 11.8932L35.9679 1.19387C36.278 0.566306 36.914 0.166273 37.6146 0.157807L51.548 0.00012207C51.5555 0.00012207 51.5618 0.00012207 51.5692 0.00012207C52.2687 0.00012207 52.909 0.392747 53.2276 1.01714L59.0672 12.5017L64.6391 1.22985C64.6634 1.18011 64.6899 1.13143 64.7195 1.08381C65.055 0.528208 65.6561 0.187439 66.3048 0.185322L80.9367 0.132408C80.9388 0.132408 80.9409 0.132408 80.9431 0.132408C81.6574 0.132408 82.3093 0.541965 82.6194 1.18646L89.548 15.5961C89.8242 16.1708 89.7872 16.847 89.4485 17.3878C89.4242 17.427 89.3977 17.465 89.3702 17.5021L75.9045 44.8906L89.5057 72.8389C89.8094 73.3839 89.82 74.0454 89.5321 74.602L82.0892 88.945C81.7685 89.562 81.1325 89.9483 80.4383 89.9483C80.4351 89.9483 80.4319 89.9483 80.4287 89.9483L66.3979 89.8752C65.7609 89.8721 65.1693 89.5419 64.8306 89.0011C64.7851 88.9281 64.7449 88.8529 64.711 88.7757L64.6983 88.782L59.6122 78.0298L54.2372 88.9619C53.925 89.5969 53.2784 90.0001 52.5693 90.0001ZM41.3514 86.2633L51.4126 86.2792L84.8439 18.2768L74.9616 18.3276L41.3514 86.2633ZM5.35589 75.4084L10.9119 86.2305L20.8662 86.1797L15.7112 75.4137L5.35589 75.4084ZM69.3569 86.1712L79.3112 86.222L84.8354 75.5757L74.4981 75.4762L69.3569 86.1712ZM33.2989 73.0252L38.3988 83.843L71.7349 16.4618L66.3546 6.14983L33.2989 73.0252ZM18.956 73.5776L23.8378 83.7732L57.0109 16.6618L51.6105 6.04506L18.956 73.5776ZM61.7087 73.7639L66.4128 83.7107L71.2618 73.6231L66.471 64.0763L61.7087 73.7639ZM74.4875 71.7563L84.8905 71.8558L73.8261 49.1184L68.5315 59.8876L74.4875 71.7563ZM5.30192 71.6886L15.7356 71.6939L48.588 3.75281L38.7967 3.86287L5.30192 71.6886ZM5.10719 18.4006L16.3092 40.9993L21.4228 30.6429L15.0244 18.336L5.10719 18.4006ZM18.2458 16.4681L23.4664 26.5081L28.6128 16.0872L23.6421 6.0694L18.2458 16.4681ZM10.223 3.76974L5.06486 14.6818L15.0159 14.6172L20.6249 3.80784L10.223 3.76974ZM69.3717 3.89251L74.9627 14.6077L84.9201 14.5569L79.7747 3.85547L69.3717 3.89251Z" fill="#2F80ED"/>
          </svg>            
        </div>
        <div class="title-connect">
          Connect
        </div>
        <div class="connect-text">
          with the right mentor
        </div>
      </div>

      <div class="svg-one">
        <div class="svg-connect">
          <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M88.3931 16.0715H80.3574V8.03574C80.3574 7.60949 80.188 7.20071 79.8866 6.89931C79.5852 6.59791 79.1765 6.42859 78.7502 6.42859H70.7145V1.60715C70.7145 1.18091 70.5452 0.772121 70.2438 0.470723C69.9424 0.169324 69.5336 0 69.1073 0H20.8929C20.4667 0 20.0579 0.169324 19.7565 0.470723C19.4551 0.772121 19.2858 1.18091 19.2858 1.60715V6.42859H11.25C10.8238 6.42859 10.415 6.59791 10.1136 6.89931C9.81221 7.20071 9.64288 7.60949 9.64288 8.03574V16.0715H1.60715C1.18091 16.0715 0.772121 16.2408 0.470723 16.5422C0.169324 16.8436 0 17.2524 0 17.6786V72.3216C0 72.7479 0.169324 73.1567 0.470723 73.4581C0.772121 73.7595 1.18091 73.9288 1.60715 73.9288H36.9644V80.3574H28.9286C28.5024 80.3574 28.0936 80.5267 27.7922 80.8281C27.4908 81.1295 27.3215 81.5383 27.3215 81.9645V88.3931C27.3215 88.8193 27.4908 89.2281 27.7922 89.5295C28.0936 89.8309 28.5024 90.0002 28.9286 90.0002H61.0716C61.4978 90.0002 61.9066 89.8309 62.208 89.5295C62.5094 89.2281 62.6787 88.8193 62.6787 88.3931V81.9645C62.6787 81.5383 62.5094 81.1295 62.208 80.8281C61.9066 80.5267 61.4978 80.3574 61.0716 80.3574H53.0359V73.9288H88.3931C88.8193 73.9288 89.2281 73.7595 89.5295 73.4581C89.8309 73.1567 90.0002 72.7479 90.0002 72.3216V17.6786C90.0002 17.2524 89.8309 16.8436 89.5295 16.5422C89.2281 16.2408 88.8193 16.0715 88.3931 16.0715ZM67.5002 3.21429V45.0001H46.6073V3.21429H67.5002ZM22.5001 3.21429H43.393V45.0001H22.5001V3.21429ZM12.8572 9.64288H19.2858V46.6073C19.2858 47.0335 19.4551 47.4423 19.7565 47.7437C20.0579 48.0451 20.4667 48.2144 20.8929 48.2144H69.1073C69.5336 48.2144 69.9424 48.0451 70.2438 47.7437C70.5452 47.4423 70.7145 47.0335 70.7145 46.6073V9.64288H77.1431V54.643H12.8572V9.64288ZM9.64288 19.2858V56.2502C9.64288 56.6764 9.81221 57.0852 10.1136 57.3866C10.415 57.688 10.8238 57.8573 11.25 57.8573H78.7502C79.1765 57.8573 79.5852 57.688 79.8866 57.3866C80.188 57.0852 80.3574 56.6764 80.3574 56.2502V19.2858H86.7859V64.2859H3.21429V19.2858H9.64288ZM59.4644 86.7859H30.5358V83.5717H59.4644V86.7859ZM49.8216 80.3574H40.1787V73.9288H49.8216V80.3574ZM3.21429 70.7145V67.5002H86.7859V70.7145H3.21429Z" fill="#2F80ED"/>
          </svg>                        
        </div>
        <div class="title-connect">
          Learn
        </div>
        <div class="connect-text">
          from an experienced professional
        </div>
      </div>

      <div class="svg-one">
        <div class="svg-connect-grow">
          <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41357 87.1906L11.9312 88.2928L12.3059 85.3781L7.90331 84.7388L13.3049 80.5045L11.5204 78.2351L6.14187 82.5185L6.6739 78.0858L3.53577 77.6529L2.41357 87.1906Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M34.2526 78.5777L24.6839 79.0487L24.7921 81.9854L29.2388 81.8952L24.6038 86.9571L26.7359 88.9039L31.3399 83.7969L31.5413 88.2577L34.7085 88.1705L34.2526 78.5777Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.8314 90.0001L55.7019 83.323L53.6809 81.1909L50.4025 84.1967L50.5378 77.3343L47.6511 77.2822L47.569 84.1577L44.4709 80.9424L42.1514 83.1006L48.8314 90.0001Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M70.6169 76.9366L61.3999 79.5527L62.1664 82.3882L66.4788 81.2991L63.1032 87.2748L65.6192 88.6916L68.9547 82.6788L70.156 86.9782L73.222 86.1807L70.6169 76.9366Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M89.077 86.4131L87.4819 76.9667L84.5792 77.4186L85.1914 81.8242L79.6195 77.8163L77.9373 80.1629L83.5502 84.1347L79.1446 84.8591L79.6035 87.9942L89.077 86.4131Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M89.551 62.5784L80.2869 60.1357L79.5024 62.9672L83.7687 64.2257L77.8201 67.6494L79.2649 70.1502L85.1975 66.6734L84.0412 70.9859L87.0862 71.8606L89.551 62.5784Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M56.5173 71.2435L65.7173 73.9147L66.572 71.1042L62.3387 69.7406L68.3695 66.4651L66.9878 63.9292L60.971 67.2577L62.2335 62.9753L59.2116 62.0255L56.5173 71.2435Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.6703 75.2302L47.0208 66.6945L44.4197 65.3269L42.2855 69.2295L40.2005 62.6907L37.4511 63.5724L39.5903 70.1062L35.6215 68.0622L34.1216 70.8527L42.6703 75.2302Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.546 79.675L25.0207 72.6131L22.8805 70.6002L19.7805 73.7904L19.5199 66.932L16.6353 67.0463L16.9489 73.9147L13.6715 70.8838L11.4802 73.1712L18.546 79.675Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2277 61.6306L5.66095 55.7551L3.82937 58.0526L7.26208 60.8822L0.447754 61.7018L0.797438 64.5684L7.61777 63.6937L4.86439 67.2085L7.3242 69.2054L13.2277 61.6306Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4587 59.1338L27.2981 65.8419L29.3822 63.7708L26.2982 60.5656L33.1616 60.5355L33.1445 57.6479L26.2691 57.731L29.4082 54.5568L27.1959 52.2894L20.4587 59.1338Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M57.1196 55.9967L50.7932 48.8026L48.5619 50.7143L51.4014 54.138L44.555 53.6621L44.3586 56.5427L51.2211 56.9665L47.8565 59.9013L49.8965 62.325L57.1196 55.9967Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M78.6807 55.5086L71.9987 48.6432L69.8675 50.6662L72.8764 53.9426L66.014 53.8133L65.9639 56.7L72.8393 56.7761L69.628 59.8772L71.7873 62.1947L78.6807 55.5086Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.32544 29.7262L8.47442 23.3497L10.4583 25.517L7.22598 28.573L14.0804 28.9276L13.9261 31.8113L7.06266 31.4025L10.0485 34.722L7.73097 36.8822L1.32544 29.7262Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.1267 55.1701L19.1334 48.6363L17.1565 46.462L13.817 49.4008L14.0925 42.5424L11.2079 42.4301L10.9844 49.3026L7.95349 46.0252L5.58887 48.1343L12.1267 55.1701Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M43.8396 47.6643L38.5703 39.6636L36.0954 41.2487L38.434 45.0331L31.7189 43.6123L31.1257 46.4389L37.8639 47.8085L34.1246 50.2483L35.8089 52.9326L43.8396 47.6643Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M62.9008 51.1551L69.6951 44.4009L67.6501 42.2908L64.4057 45.3348L64.4629 38.4713L61.5762 38.4513L61.5722 45.3277L58.4381 42.1485L56.1426 44.3318L62.9008 51.1551Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M77.2258 40.7748L80.7778 49.6722L83.5201 48.6171L81.9911 44.44L88.2834 47.1823L89.4327 44.5332L83.1083 41.8359L87.2615 40.1977L86.1513 37.2309L77.2258 40.7748Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M72.2782 37.2329L76.6287 28.6982L74.0276 27.3306L71.8935 31.2332L69.8084 24.6944L67.059 25.5751L69.1982 32.1099L65.2294 30.0659L63.7295 32.8564L72.2782 37.2329Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.64 24.0682L23.5099 14.7279L20.6373 15.3451L21.4999 19.7086L15.7086 16.0264L14.1626 18.4642L19.993 22.1093L15.6365 23.0842L16.2727 26.1873L25.64 24.0682Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7664 29.2644L18.9971 38.0716L21.6833 39.2619L23.552 35.225L26.0699 41.6105L28.7541 40.5474L26.1821 34.17L30.2791 35.9444L31.5887 33.0598L22.7664 29.2644Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M77.8372 24.991L87.1083 27.4038L87.8848 24.5702L83.6145 23.3258L89.5521 19.883L88.1002 17.3872L82.1786 20.882L83.3209 16.5666L80.2729 15.7009L77.8372 24.991Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M57.1785 35.7059L52.4633 27.3666L49.8873 28.7804L51.9643 32.7141L45.3604 30.8424L44.5779 33.6219L51.2068 35.4454L47.3122 37.6267L48.8102 40.4171L57.1785 35.7059Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.73511 3.04412L11.2888 2.32571L11.5463 5.25244L7.12264 5.71434L12.3499 10.162L10.4762 12.3583L5.27303 7.86254L5.62672 12.3132L2.47355 12.6198L1.73511 3.04412Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.8857 6.86252L29.0357 0.486053L31.0196 2.65329L27.7863 5.70927L34.6407 6.06396L34.4874 8.9476L27.624 8.5388L30.6088 11.8583L28.2913 14.0185L21.8857 6.86252Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M42.0692 17.5325L32.5195 18.3L32.7179 21.2317L37.1596 21.0042L32.6839 26.2064L34.8751 28.0861L39.3188 22.8398L39.6585 27.2915L42.8207 27.1072L42.0692 17.5325Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M87.7965 1.24854L78.2468 2.01604L78.4452 4.94677L82.8869 4.71932L78.4111 9.9225L80.6024 11.8022L85.0461 6.55591L85.3858 11.0076L88.548 10.8223L87.7965 1.24854Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M73.7923 8.73023L69.0771 0.389923L66.5011 1.80369L68.5771 5.73838L61.9742 3.86672L61.1907 6.64616L67.8206 8.46972L63.925 10.65L65.424 13.4414L73.7923 8.73023Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M46.4957 12.2611L55.34 8.5789L54.2449 5.85257L50.0908 7.44268L52.74 1.1113L50.0747 0.00012207L47.4696 6.36357L45.7713 2.23449L42.8206 3.38775L46.4957 12.2611Z" fill="#2F80ED"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.781 19.6636L58.7947 13.1379L60.8237 15.263L57.6565 18.3861L64.5159 18.5966L64.4237 21.4822L57.5533 21.2187L60.6083 24.474L58.3368 26.6824L51.781 19.6636Z" fill="#2F80ED"/>
          </svg>                                    
        </div>
        <div class="title-connect">
          Grow
        </div>
        <div class="connect-text">
          with someone who cares about you
        </div>
      </div>
    </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}