{{ 'foot.css' | asset_url | stylesheet_tag }}

<section class="foot-down">
  <div class="foot">
    <div class="logo-and-left">
      <div class="logo-img">
        <img src="https://cdn.shopify.com/s/files/1/0766/5759/0587/files/logo.png?v=1685200523" alt="">
      </div>
      <div class="copyrigth">
        2021 All rights reserved
      </div>
      <div class="user">
        User Agreement
      </div>
      <div class="user">
        User Agreement
      </div>
      <div class="transparent">
        Design by Studio Rubric
      </div>
    </div>
    <div class="social-webs">
      <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.953 2.57058C23.0545 2.96618 22.1026 3.22732 21.128 3.34558C22.1541 2.72883 22.9224 1.76162 23.291 0.622575C22.34 1.17758 21.286 1.58158 20.164 1.80658C19.4238 1.015 18.4429 0.489997 17.3736 0.313077C16.3044 0.136157 15.2067 0.317226 14.2509 0.828166C13.2952 1.33911 12.5349 2.15133 12.0881 3.1387C11.6412 4.12607 11.533 5.23335 11.78 6.28858C7.69 6.09558 4.067 4.13058 1.64 1.16258C1.19879 1.91239 0.968664 2.7676 0.974 3.63758C0.974 5.34758 1.844 6.85058 3.162 7.73358C2.38086 7.70871 1.61697 7.49751 0.934 7.11758V7.17758C0.933557 8.31397 1.32627 9.41551 2.04551 10.2953C2.76474 11.1752 3.76621 11.7791 4.88 12.0046C4.1583 12.198 3.40241 12.227 2.668 12.0896C2.98412 13.0676 3.59766 13.9225 4.42301 14.5351C5.24837 15.1476 6.24435 15.4873 7.272 15.5066C5.53153 16.8725 3.38248 17.6139 1.17 17.6116C0.78 17.6116 0.391 17.5886 0 17.5446C2.25571 18.9889 4.87851 19.7556 7.557 19.7536C16.61 19.7536 21.555 12.2576 21.555 5.76858C21.555 5.55858 21.555 5.34858 21.54 5.13858C22.506 4.44344 23.3392 3.58039 24 2.59058L23.953 2.57058Z" fill="#222222"/>
      </svg>
      <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.498 3.18617C23.3624 2.67544 23.095 2.2093 22.7226 1.83443C22.3502 1.45956 21.8858 1.18911 21.376 1.05017C19.505 0.545166 12 0.545166 12 0.545166C12 0.545166 4.495 0.545166 2.623 1.05017C2.11341 1.18935 1.64929 1.4599 1.27708 1.83475C0.904861 2.2096 0.637591 2.67561 0.502 3.18617C0 5.07017 0 9.00017 0 9.00017C0 9.00017 0 12.9302 0.502 14.8142C0.637586 15.3249 0.904975 15.791 1.27739 16.1659C1.64981 16.5408 2.11418 16.8112 2.624 16.9502C4.495 17.4552 12 17.4552 12 17.4552C12 17.4552 19.505 17.4552 21.377 16.9502C21.8869 16.8113 22.3513 16.5409 22.7237 16.166C23.0961 15.7911 23.3635 15.3249 23.499 14.8142C24 12.9302 24 9.00017 24 9.00017C24 9.00017 24 5.07017 23.498 3.18617ZM9.545 12.5682V5.43217L15.818 9.00017L9.545 12.5682Z" fill="#222222"/>
      </svg>    
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3463_494)">
        <path d="M12 0.000244141C8.74 0.000244141 8.333 0.0152441 7.053 0.0722441C5.775 0.132244 4.905 0.333244 4.14 0.630244C3.351 0.936244 2.681 1.34724 2.014 2.01424C1.347 2.68124 0.935 3.35024 0.63 4.14024C0.333 4.90524 0.131 5.77524 0.072 7.05324C0.012 8.33324 0 8.74024 0 12.0002C0 15.2602 0.015 15.6672 0.072 16.9472C0.132 18.2242 0.333 19.0952 0.63 19.8602C0.936 20.6482 1.347 21.3192 2.014 21.9862C2.681 22.6522 3.35 23.0652 4.14 23.3702C4.906 23.6662 5.776 23.8692 7.053 23.9282C8.333 23.9882 8.74 24.0002 12 24.0002C15.26 24.0002 15.667 23.9852 16.947 23.9282C18.224 23.8682 19.095 23.6662 19.86 23.3702C20.648 23.0642 21.319 22.6522 21.986 21.9862C22.652 21.3192 23.065 20.6512 23.37 19.8602C23.666 19.0952 23.869 18.2242 23.928 16.9472C23.988 15.6672 24 15.2602 24 12.0002C24 8.74024 23.985 8.33324 23.928 7.05324C23.868 5.77624 23.666 4.90424 23.37 4.14024C23.064 3.35124 22.652 2.68124 21.986 2.01424C21.319 1.34724 20.651 0.935244 19.86 0.630244C19.095 0.333244 18.224 0.131244 16.947 0.0722441C15.667 0.0122441 15.26 0.000244141 12 0.000244141ZM12 2.16024C15.203 2.16024 15.585 2.17624 16.85 2.23124C18.02 2.28624 18.655 2.48024 19.077 2.64624C19.639 2.86324 20.037 3.12324 20.459 3.54224C20.878 3.96224 21.138 4.36124 21.355 4.92324C21.519 5.34524 21.715 5.98024 21.768 7.15024C21.825 8.41624 21.838 8.79624 21.838 12.0002C21.838 15.2042 21.823 15.5852 21.764 16.8502C21.703 18.0202 21.508 18.6552 21.343 19.0772C21.119 19.6392 20.864 20.0372 20.444 20.4592C20.025 20.8782 19.62 21.1382 19.064 21.3552C18.644 21.5192 17.999 21.7152 16.829 21.7682C15.555 21.8252 15.18 21.8382 11.97 21.8382C8.759 21.8382 8.384 21.8232 7.111 21.7642C5.94 21.7032 5.295 21.5082 4.875 21.3432C4.306 21.1192 3.915 20.8642 3.496 20.4442C3.075 20.0252 2.806 19.6202 2.596 19.0642C2.431 18.6442 2.237 17.9992 2.176 16.8292C2.131 15.5692 2.115 15.1802 2.115 11.9852C2.115 8.78924 2.131 8.39924 2.176 7.12424C2.237 5.95424 2.431 5.31024 2.596 4.89024C2.806 4.32024 3.075 3.93024 3.496 3.50924C3.915 3.09024 4.306 2.82024 4.875 2.61124C5.295 2.44524 5.926 2.25024 7.096 2.19024C8.371 2.14524 8.746 2.13024 11.955 2.13024L12 2.16024ZM12 5.83824C8.595 5.83824 5.838 8.59824 5.838 12.0002C5.838 15.4052 8.598 18.1622 12 18.1622C15.405 18.1622 18.162 15.4022 18.162 12.0002C18.162 8.59524 15.402 5.83824 12 5.83824ZM12 16.0002C9.79 16.0002 8 14.2102 8 12.0002C8 9.79024 9.79 8.00024 12 8.00024C14.21 8.00024 16 9.79024 16 12.0002C16 14.2102 14.21 16.0002 12 16.0002ZM19.846 5.59524C19.846 6.39024 19.2 7.03524 18.406 7.03524C17.611 7.03524 16.966 6.38924 16.966 5.59524C16.966 4.80124 17.612 4.15624 18.406 4.15624C19.199 4.15524 19.846 4.80124 19.846 5.59524Z" fill="#222222"/>
        </g>
        <defs>
        <clipPath id="clip0_3463_494">
        <rect width="24" height="24" fill="white" transform="translate(0 0.000244141)"/>
        </clipPath>
        </defs>
      </svg>              
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}