{{ 'footer-peppers.css' | asset_url | stylesheet_tag }}

<section class="main-footer">
  <div class="main-footer-content">
    <div class="text-group">
      <div class="txt-main">Browse mentors</div>
      <a href="#" class="txt-normal">View all</a>
      <a href="#" class="txt-normal">Sign up</a>
    </div>

    <div class="text-group">
      <div class="txt-main">How it works</div>
      <a href="#" class="txt-normal">Step by step</a>
      <a href="#" class="txt-normal">Pricing structure</a>
      <a href="#" class="txt-normal">User reviews</a>
    </div>

    <div class="text-group">
      <div class="txt-main">Company</div>
      <a href="#" class="txt-normal">About</a>
      <a href="#" class="txt-normal">Contact</a>
    </div>

    <div class="text-group">
      <div class="txt-main">Stay up to date</div>
      <div class="txt-normal">
        Lorem ipsum dolor sit amet consectetur adipiscing elit.
        Nec pellentesque vestibulum, mattis facilisis pellentesque.
      </div>
      <input class="input" type="email" placeholder="Enter email address...">
      
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}