{{ "foot.css" | asset_url | stylesheet_tag }}

<section class="img-text">
  <div class="globalty">
    <div class="img-person">
      <img src="https://cdn.shopify.com/s/files/1/0770/0637/3138/files/image_14.png?v=1686262160" alt="" />
    </div>
    <div class="co-founder">
      <div class="svg-founder">
        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 0L-2.97237e-06 17L35.0002 17L35.0002 52.0001L52.0002 52.0001L52.0002 0.000117413L52 0.000117413L52 9.09197e-06L0 0Z"
            fill="#2F80ED"
          />
        </svg>
      </div>
      <div class="name-founder">
        <div class="name">
          Ivan Lopez <br />
          <span class="founder">Co-founder</span>
        </div>
      </div>
    </div>

    <div class="lorem-text">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit, eu rhoncus malesuada eu vitae. Ornare sodales
        morbi et sagittis sapien. Dignissim orci, et nulla facilisis neque fermentum, pellentesque. Viverra vulputate
        aenean ornare odio nulla. Facilisis egestas etiam vel lectus ultrices risus. Augue elementum praesent non
        fermentum, integer a pretium praesent ut.
      </span>
      <span>
        Eget pellentesque aliquet mattis ac magna odio tristique. Venenatis suspendisse vitae tempor mauris neque
        lectus. Elit egestas ut dolor morbi enim nulla euismod egestas. Eleifend a faucibus ornare lectus non ac duis
        viverra nunc. Aliquet nisl arcu, ante vel ultrices congue.
      </span>
      <span>
        Dignissim orci, et nulla facilisis neque fermentum, pellentesque. Viverra vulputate aenean ornare odio nulla.
        Facilisis egestas etiam vel lectus ultrices risus. Augue elementum praesent non fermentum, integer a pretium
        praesent ut.
      </span>
    </div>
  </div>
</section>

{% schema %} { "name": "Section name", "settings": [] } {% endschema %} {% stylesheet %} {% endstylesheet %} {%
javascript %} {% endjavascript %}
