{{ 'footer-peppers.css' | asset_url | stylesheet_tag }}

<section class="main-footer">
  <div class="main-footer-content">
    <div class="text-group">
      <div class="txt-main">Browse mentors</div>
      <a href="#" class="txt-normal">View all</a>
      <a href="#" class="txt-normal">Sign up</a>
    </div>

    <div class="text-group">
      <div class="txt-main">How it works</div>
      <a href="#" class="txt-normal">Step by step</a>
      <a href="#" class="txt-normal">Pricing structure</a>
      <a href="#" class="txt-normal">User reviews</a>
    </div>

    <div class="text-group">
      <div class="txt-main">Company</div>
      <a href="#" class="txt-normal">About</a>
      <a href="#" class="txt-normal">Contact</a>
    </div>

    <div class="text-group">
      <div class="txt-main">Stay up to date</div>
      <div class="txt-normal">
        Lorem ipsum dolor sit amet consectetur adipiscing elit.
        Nec pellentesque vestibulum, mattis facilisis pellentesque.
      </div>
      <input class="input" type="email" placeholder="Enter email address...">
      <svg class="svg-input" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 3.24911L0.0622995 0.000244141H10L10 0.000253677L10 3.24911L10 9.93796H6.75114V5.54642L2.2973 10.0003L0 7.70297L4.45386 3.24911H0.0622995Z" fill="#2F80ED"/>
      </svg>        
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}