<section class="hero-peppers">
  <div class="hero">
    <div class="ligth-storm">

    </div>
  </div>
</section>




{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}