{{ 'hero-peppers.css' | asset_url | stylesheet_tag }}

<section class="father-hero-desing">

  <div class="container-hero">

      <div class="container-info-hero">

          <div class="title-desing">
              Find your career mentor 
          </div>

          <div class="text-hero-desing">
              <span class="span-connect">Connect, Learn, Grow</span>  with the world’s best proven and experienced Mentors
          </div>

          <div class="father-buttoms-hero">

              <div class="buttom-join">
                  <a class="text-buttom-join" href="">Join Groo</a>
                  <div class="svg-buttom">
                      <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 3.74887L0.0622995 0.5H10L10 0.50001L10 3.74887L10 10.4377H6.75114V6.04617L2.2973 10.5L0 8.20272L4.45386 3.74887H0.0622995Z" fill="white"/>
                      </svg>
                  </div>
              </div>

              <div class="buttom-watch">
                  <a class="text-buttom-watch" href="">Watch Video</a>
                  <div class="svg-buttom">
                      <svg width="10" height="13" viewBox="0 0 10 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.0622995 5.74887L0.0622995 2.5H10L10 2.50001L10 5.74887L10 12.4377H6.75114V8.04617L2.2973 12.5L0 10.2027L4.45386 5.74887H0.0622995Z" fill="#2F80ED"/>
                      </svg>                        
                  </div>
              </div>


          </div>

      </div>


      <div class="container-img-hero">
          <div class="container-img-top">
              <div class="container-first-img-circle">
                  <img class="first-img-circle" src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/Mentor_circle_1.png?v=1685028802" alt="" srcset="">
              </div>
              <div class="container-main-img">
                  <img class="main-img" src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/image_6.png?v=1685028273" alt="">
              </div>
          </div>
          <div class="container-img-buttom">
              <div class="container-last-img-circle">
                  <img class="last-img-circle" src="https://cdn.shopify.com/s/files/1/0762/4382/9010/files/Mentor_circle.png?v=1685028802" alt="">
              </div>
          </div>
      </div>


  </div>

</section>





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}