{{ 'main-menu.css' | asset_url | stylesheet_tag }}

<section class="main-menu">
  <div class="menu">
    <div class="img-logo-bylt">
      <img src="https://cdn.shopify.com/s/files/1/0757/3284/4845/files/unnamed-BYLT-BLACK_480x-_1.png?v=1682639205" alt="">
    </div>

    <ul class="menu-options">
      <li> <a href="#">SPORTS DRINKS</a> </li>
      <li> <a href="#">THE SCIENCE</a> </li>
      <li> <a href="#">MEDIA</a> </li>
      <li> <a href="#">ABOUT</a> </li>
      <li> <a href="#">APPAREL</a> </li>
      <li> <a href="#">WHERE TO BUY</a> </li>
    </ul>

    <div class="nav-menu">
      <div class="item-one">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.625 8.5H9.0325L8.8225 8.2975C9.58291 7.41552 10.0008 6.28952 10 5.125C10 4.16082 9.71409 3.21829 9.17842 2.4166C8.64275 1.61491 7.88137 0.990067 6.99058 0.621089C6.09979 0.252112 5.11959 0.155571 4.17394 0.343674C3.22828 0.531777 2.35964 0.996076 1.67786 1.67786C0.996076 2.35964 0.531777 3.22828 0.343674 4.17394C0.155571 5.11959 0.252112 6.09979 0.621089 6.99058C0.990067 7.88137 1.61491 8.64275 2.4166 9.17842C3.21829 9.71409 4.16082 10 5.125 10C6.3325 10 7.4425 9.5575 8.2975 8.8225L8.5 9.0325V9.625L12.25 13.3675L13.3675 12.25L9.625 8.5ZM5.125 8.5C3.2575 8.5 1.75 6.9925 1.75 5.125C1.75 3.2575 3.2575 1.75 5.125 1.75C6.9925 1.75 8.5 3.2575 8.5 5.125C8.5 6.9925 6.9925 8.5 5.125 8.5Z" fill="white"/>
        </svg>          
      </div>
      <div class="item-two">
        <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.50002 0.59375C5.04121 0.59375 3.84377 1.79119 3.84377 3.25V3.78125H1.22046L1.18752 4.27956L0.656272 13.8421L0.622803 14.4063H12.3767L12.3438 13.8415L11.8125 4.27903L11.7791 3.78125H9.15627V3.25C9.15627 1.79119 7.95883 0.59375 6.50002 0.59375ZM6.50002 1.65625C6.92271 1.65625 7.32809 1.82416 7.62697 2.12305C7.92586 2.42193 8.09377 2.82731 8.09377 3.25V3.78125H4.90627V3.25C4.90627 2.82731 5.07418 2.42193 5.37307 2.12305C5.67196 1.82416 6.07733 1.65625 6.50002 1.65625ZM2.21655 4.84375H3.84377V6.4375H4.90627V4.84375H8.09377V6.4375H9.15627V4.84375H10.7835L11.2483 13.3438H1.75224L2.21655 4.84375Z" fill="white"/>
        </svg>          
      </div>
      <div class="item-three">
        <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.50001 7.02777C7.15379 7.02777 7.79289 6.8339 8.33648 6.47068C8.88008 6.10746 9.30376 5.59121 9.55395 4.98719C9.80414 4.38318 9.8696 3.71855 9.74205 3.07733C9.61451 2.43612 9.29968 1.84712 8.83739 1.38483C8.3751 0.922542 7.78611 0.607719 7.1449 0.480173C6.50368 0.352628 5.83904 0.418089 5.23503 0.668278C4.63102 0.918468 4.11476 1.34215 3.75154 1.88574C3.38833 2.42934 3.19446 3.06844 3.19446 3.72221C3.19446 4.5989 3.54272 5.43968 4.16263 6.05959C4.78254 6.6795 5.62333 7.02777 6.50001 7.02777ZM6.50001 1.3611C6.967 1.3611 7.42349 1.49958 7.81178 1.75902C8.20006 2.01846 8.50269 2.38722 8.6814 2.81866C8.8601 3.25009 8.90686 3.72483 8.81576 4.18284C8.72465 4.64085 8.49978 5.06156 8.16957 5.39177C7.83936 5.72198 7.41865 5.94685 6.96064 6.03796C6.50263 6.12906 6.02789 6.0823 5.59646 5.90359C5.16502 5.72489 4.79626 5.42226 4.53682 5.03398C4.27738 4.64569 4.1389 4.1892 4.1389 3.72221C4.1389 3.09601 4.38766 2.49545 4.83046 2.05266C5.27325 1.60986 5.87381 1.3611 6.50001 1.3611Z" fill="white"/>
          <path d="M12.3886 10.5081C11.6313 9.70765 10.7187 9.0701 9.70662 8.63438C8.69454 8.19867 7.60422 7.97394 6.50233 7.97394C5.40045 7.97394 4.31013 8.19867 3.29805 8.63438C2.28597 9.0701 1.37338 9.70765 0.616085 10.5081C0.451899 10.6834 0.360712 10.9148 0.361085 11.155V13.6389C0.361085 13.8894 0.460589 14.1296 0.637706 14.3067C0.814824 14.4838 1.05505 14.5833 1.30553 14.5833H11.6944C11.9449 14.5833 12.1851 14.4838 12.3622 14.3067C12.5394 14.1296 12.6389 13.8894 12.6389 13.6389V11.155C12.6405 10.9154 12.5511 10.6842 12.3886 10.5081ZM11.6944 13.6389H1.30553V11.1503C1.97478 10.4456 2.78042 9.88442 3.67342 9.50095C4.56642 9.11748 5.52812 8.91973 6.49997 8.91973C7.47183 8.91973 8.43352 9.11748 9.32653 9.50095C10.2195 9.88442 11.0252 10.4456 11.6944 11.1503V13.6389Z" fill="white"/>
        </svg>          
      </div>
    </div>

    <div class="menu-responsive">
      <div class="line"><div></div></div>
      <div class="line"><div></div></div>
      <div class="line"><div></div></div>
    </div>

    <ul class="menu-options-responsive">
      <li> <a href="#">SPORTS DRINKS</a> </li>
      <li> <a href="#">THE SCIENCE</a> </li>
      <li> <a href="#">MEDIA</a> </li>
      <li> <a href="#">ABOUT</a> </li>
      <li> <a href="#">APPAREL</a> </li>
      <li> <a href="#">WHERE TO BUY</a> </li>
    </ul>
  </div>
</section>

<script>

  const menuToggle = document.querySelector('.menu-responsive')
  const menuResponsive = document.querySelector('.menu-options-responsive')

  menuToggle.addEventListener('click', ()=>{
    menuResponsive.classList.toggle('menu-options-responsive-show')
  })

</script>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}