@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Sen&display=swap');

.connect-section {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.connect-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.svg-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 352px;
}

.title-connect {
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    margin-top: 48px;
    color: #222222;
}

.connect-text {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-top: 4px;
    color: #222222;
}

@media (max-width:1050px) {
    .svg-one {
        min-width: 230px;
        max-width: 250px;
    }
    .title-connect {
        font-size: 32px;
    }
}

@media (max-width:950px) {
    .title-connect {
        font-size: 26px;
    }
    .connect-text  {
        font-size: 16px;
    }
}

@media (max-width:720px) {
    .connect-content{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .title-connect {
        margin-top: 20px;
    }
    .svg-one {
        min-width: 230px;
        max-width: 330px;
    }
}