@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400&family=Sen&display=swap');

.connect-section {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.connect-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.svg-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-connect {
    font-family: 'Figtree';
    font-size: 34px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    margin-top: 48px;
}

.connect-text {
    font-family: 'Figtree';
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-top: 4px;
}