@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Sen&display=swap');

.main-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 138px 0px 92px 0px;
}

.main-footer-content {
    display: flex;
    justify-content: center;
    gap: 65px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 128px;
}

.text-group {
    display: flex;
    flex-direction: column;
    position: relative;    
}

.txt-main {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    min-width: 155px;
    padding-bottom: 16px;
    color: #222222;
}

.txt-normal {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 10px;
    color: #222222;
}

.input {
    border: none;
    height: 40px;
    padding-left: 20px;
    margin-top: 6px;
    background-color: #F6F6F6;
    color: #222222;
}

::placeholder {
    color: #00000049;
}

.svg-input {
    position: absolute;
    bottom: 5px;
    right: 15px;
}

@media (max-width:980px){
    .main-footer-content {
        gap: 35px;
        padding: 0px 64px;
    }
}

@media (max-width:850px){
    .main-footer-content {
        flex-direction: column;
        align-items: center;
    }
    .text-group {
        align-items: center;
    }
    .txt-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .txt-normal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}