* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu {
    display: flex;
    max-width: 1440px;
    width: 100%;
}